body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.tb {
	border: 2px solid blue;
	margin: auto;
	margin-top: 50px;
	border-radius: 7px;
	background-color: #d4c3e0;
}

.tdi {
	font-size: 18px;
	border-radius: 5px;
	width: 300px;
	height: 33px;
}

.td {
	padding: 15px;
}

.la {
	font-size: 24px;
	color:green;
}

.bt {
	padding: 5px 15px;
	color: white;
	background-color: blue;
	font-size: 19px;
	cursor: hand;
	border: none
}
input[type="text"] {
	color: #3b0d0b; background-color: #d5f0df;
}

select {
	color: #3b0d0b;
	background-color: #d5f0df;
}
.dv{
	text-align:center;
	color:green;
}
.an{
	border:2px solid aqua;
	border-radius:7px;
	
	color:red;
	background-color:yellow;
	text-decoration:none;
}